/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
    background: whitesmoke;
    box-shadow: 0 5px 25px rgba(0, 0 ,0, 0.25);
}
/* CONTENT */





/*FOOTER*/
footer {
    position: fixed;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: whitesmoke;
    box-shadow: 0 5px 25px rgba(0, 0 ,0, 0.25);
}