{% extends 'base.html' %}

{% block title %}
О сайте
{% endblock %}

{% block content %}
<br><h1>О сайте</h1>

Этот сайт — ваш простой и удобный список задач с полезной аналитикой.
<br>
<br>
Что можно делать:

<li>Создавать задачи и вычеркивать их</li>

<li>Разделять дела по категориям</li>

<li>Смотреть статистику: сколько задач вы выполнили за неделю или месяц</li>
<br>
Здесь нет ничего лишнего — только понятные инструменты, чтобы лучше организовать свои дела и увидеть свой прогресс.
<br>
Просто начните записывать задачи, а аналитика появится сама собой.
<br>
<br>
<ul class="nav nav-pills">
    <li class="nav-item">
    <a href="{{ url_for('create') }}" class="nav-link">Начать выполнение задач</a>
    </li>
</ul>
{% endblock %}