{% extends 'base.html' %}

{% block title %}Поддержка проекта{% endblock %}

{% block content %}
<br>
<h1>Спасибо за использование моего проекта! ❤️</h1>
<p>Если тебе нравится этот сервис и ты хочешь помочь его развитию — можешь поддержать меня небольшим донатом.</p>



<div class="mt-4">
    <h4>Выбери способ поддержки:</h4>
    
    <a href="<!--Ссылочку сюда -->" target="_blank" class="btn btn-success btn-lg">
        💖 Поддержать на Boosty
    </a>
</div>
<br>
<br>
<h1>Молодцы, вы прокопались сюда. Жаль, но сервис не работает так как мне нет 18</h1>
{% endblock %}
